body {
  background-color: #dee9fa;
  background-size: cover;
}

.header {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.header .title {
  color: #3a414d;
  font-size: 30px;
  font-family: "Ubuntu";
  text-align: center;
}

.header img {
  display: block;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header h2 {
  color: #3a414d;
  font-family: "Ubuntu";
  text-align: center;
}

.about .intro h1 {
  color: #4e5a6e;
  font-size: 30px;
  font-family: "Ubuntu";
  text-align: center;
}

.about .intro h2 {
  color: #4e5a6e;
  font-size: 22px;
  font-family: "Ubuntu";
  text-align: center;
}

.about .intro p {
  color: #000000;
  font-family: "Domus";
  text-align: center;
}

footer {
  color: #6e040b;
  font-family: Arial;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #d3f0dd;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .intro {
    max-width: 80%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: #fff5fa;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .intro {
    max-width: 80%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}